header, footer
{
    background-color: rgba(var(--bs-dark-rgb))
}

.nav-color{
    color: rgba(255, 255, 255, 0.5)
}

.radio-container
{
    display: inline-block;
    margin-right: 50px;
}

.footer p{
    color: whitesmoke;
}

.catalog-img{
    width:70%;
    height: 70%;
}

.card{
    width: 350px;
    height: 450px;
}